@font-face{
font-family:'GamePaused';
src:url('font/GamePaused.otf');
}

body{
margin:0;
overflow:hidden;
font-family:'GamePaused';
background:linear-gradient(180deg,#31a6ee,#474bd7,#7addfe);
color:white;
}



body::after{
content:"";
position:fixed;
width:100%;
height:100%;
background:
linear-gradient(rgba(0, 0, 0, 0.1) 50%,rgba(0,0,0,0.25) 50%);
background-size:100% 4px;
pointer-events:none;
opacity:0.4;
animation:crtFlicker 0.15s infinite;
}

@keyframes crtFlicker{
0%{opacity:0.3;}
50%{opacity:0.5;}
100%{opacity:0.3;}
}




#introScreen{
position:fixed;
width:100%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
background:rgb(54, 137, 238);
z-index:1000;
}

.introBox{
width:500px;
max-width:90%;
}

.introSlide{
display:none;
width:100%;
}

.introSlide.active{
display:block;
animation:pop 0.4s;
}

@keyframes pop{
0%{transform:scale(0.6);opacity:0;}
100%{transform:scale(1);opacity:1;}
}

#skipSlide{
position:absolute;
bottom:40px;
right:40px;
padding:10px 20px;
border:none;
border-radius:10px;
background:#ff4d6d;
color:white;
cursor:pointer;
}




#gameArea{
width:100vw;
height:100vh;
position:relative;
}

#basket{
position:absolute;
bottom:30px;
width:100px;
left:50%;
transform:translateX(-50%);
}

.animal{
position:absolute;
width:90px;
}




#ui{
position:fixed;
top:10px;
left:10px;
z-index:5;
}

.info{
display:flex;
gap:12px;
align-items:center;
}




.overlay{
position:fixed;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
display:flex;
justify-content:center;
align-items:center;
z-index:2000;
}

.hidden{
display:none;
}

.popup{
background:#2c2c54;
padding:40px;
border-radius:20px;
text-align:center;
}




#jumpscareScreen{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:black;
display:none;
justify-content:center;
align-items:center;
z-index:9999;
}

#jumpscareImg{
width:350px;
animation:shakeZoom 0.1s infinite;
}

@keyframes shakeZoom{

0%{transform:scale(1) translate(0,0);}
25%{transform:scale(1.5) translate(-20px,10px);}
50%{transform:scale(2) translate(20px,-10px);}
75%{transform:scale(1.7) translate(-15px,-15px);}
100%{transform:scale(2.2) translate(15px,10px);}

}




#flashRed{
position:fixed;
width:100%;
height:100%;
background:red;
opacity:0;
pointer-events:none;
z-index:4000;
transition:opacity 0.2s;
}


